h1 {
   color: lightblue;
   font-size: 32px;
   text-align: center;
}

#submitArt{
   width: 50%;
   margin: 0 auto;
   background-color: lightslategray;
   border: 8px solid navy;
   border-radius: 15px;
   padding: 15px;
}

.one, .two, .three, .four {
   font-weight: bold;
   padding-top: 5%;
   font-family: Arial, Helvetica, sans-serif;
   display: flex;
   flex-direction: column;
   margin-bottom: 15px;
   color: lightblue;
}



.submitthearticle {
   width: 80%;
   height: 12%;
   color: navy;
   font-weight: bold;
   background: linear-gradient(to bottom, rgb(178, 246, 255), rgb(42, 110, 119));
   border-radius: 15px;
   font-size: large;
   margin-top: 5%;
   box-shadow: 0 6px 7px rgb(160, 209, 234);
   box-align: center;
}

.whole
{
   background-color: lightblue;
}

.five,
.six,
.seven
{
   margin-bottom: 15px;
   display: flex;
   flex-direction: column;
   color: lightblue;
   font-weight: bold;
   padding-top: 5%;
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;
}

.form-control2 {
   width: 20px;
   height: 20px;
   margin: 10px auto;
   display: block;
}

p{
   text-align:center;
}
