body {
   background-color: navy;
   font-family: 'Times New Roman', Times, serif;
   color:cornflowerblue;
   margin: 0;
   padding: 0;
}

.headerSpace {
   font-family: 'Times New Roman', Times, serif;
   color: navy;
   text-align: center;
   margin-top: 30px;
   font-weight: bold;
}
