#articlePublicationPage{
   background-color: rgb(144, 183, 238)
}
.box {
   border-radius: 15px;
   background-color: rgb(233, 228, 228);
   box-shadow: 0 4px 5px;
   text-align: center;
   padding: 2em;
   margin: 5% auto 10%;
   border-color: rgb(5, 79, 122);
   border-width: 10px;
   border-style: solid;
   width: 25%;
}

.heading{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   font-weight: bold;
   font-size: x-large;
}

.form-check{
   display: flex;
   align-items: center;
   margin-left: 10px;
   text-align: left;
}

.form-check-input{
   margin-right: 5px;
}
.form-check-label{
   font-size: 1.2rem;
}
.form-select{
   font-size: 1.2rem;
}
.form-control {
   width: 95%;
   height: 5%;
   font-size: 1.2rem;
}

.btn{
   width: 50%;
   height: 50%;
   color: aliceblue;
   font-weight: bold;
   background: linear-gradient(to bottom, rgb(138, 162, 201), rgb(5, 51, 137));
   border-radius: 6px;
   font-size:medium;
   margin-top: 10%;
}

#editorNotes {
   height: 120px;
   width: 100%;
}

