.headerSpace
{
   font-family: 'Times New Roman', Times, serif;
   color: navy;
}
body{
background-color: skyblue;
}
#listResult{
   display: flex;
   flex-direction: column;
   align-items: center;
}
.searchdivbtn{
   display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 2%;
}